@using TradingDashboard.Services
@using TradingDashboard.Models

@inject ApiClient Api
@code {
    PriceTick? tick;

    protected override async Task OnInitializedAsync()
    {
        await LoadTick();
        _ = PeriodicRefresh();
    }

    async Task LoadTick() => tick = await Api.GetLatestTick();

    async Task PeriodicRefresh()
    {
        while (true)
        {
            await LoadTick();
            StateHasChanged();
            await Task.Delay(2000);
        }
    }
}

@if (tick is not null)
{
    <div class="tick-panel">
        <h3>EUR/USD</h3>
        <p>Bid: @tick.Bid</p>
        <p>Ask: @tick.Ask</p>
        <p>Mid: @tick.Mid</p>
    </div>
}